@import "tailwindcss";
/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}


@keyframes bounce-updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-updown {
  animation: bounce-updown 1.5s ease-in-out infinite;
}

@keyframes slide-in {
  0% { opacity: 0; transform: translateX(100%); }
  100% { opacity: 1; transform: translateX(0); }
}
.animate-slide-in {
  animation: slide-in 0.3s forwards;
}
