@import "tailwindcss";
/* index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}


@keyframes bounce-updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-updown {
  animation: bounce-updown 1.5s ease-in-out infinite;
}
